@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">2020 Calendar</h1>
    <p>The time on the server is @DateTime.Now</p>
    <p>the days in January this year are @DateTime.DaysInMonth(2020, 1)</p>
    <p>the days in February this year are @DateTime.DaysInMonth(2020, 2)</p>
</div>
